/* This style sheet controls the styles for the Views in Admin, Customer, CustomerLocation, Service, and ServiceCustomerLocation */
/*Base Styles*/

body {
    display: flex;
    flex-direction: column;
    
}

html, body {
    min-height: 100vh;
}


.wrapper {
    flex: 1 0 auto;
}


h1,
h2,
h3 {
    font-family: 'Fjalla One', sans-serif;
    font-style: italic;
}

a,
a:hover,
a:visited {
   text-decoration: none;
   }

/*Navbar Styles*/
nav {
    background: linear-gradient(0deg, white, rgb(76, 191, 236));
    
}

h1 a {
    font-size: 1.25em;
    color: rgb(33, 128, 33);
    }

nav li {
    font-size: 1.15em;
}

/*Footer Styles*/
.footer,
.foot-name {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    color: inherit;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer {
    background-color: rgb(175, 174, 174);
    flex-direction: column;
}

.foot-name {
    margin: 5px 0 10px 0;
    border-bottom: 1px solid black;
    flex-direction: row;
}

.foot-nav {
    text-align: center;
}

.footer p {
    margin: 0;
}

.ryan,
.disclaimer,
.cool-stuff {
    font-size: .5em;
    text-align: center;
}

