@model  LawnPaynes.ViewModels.CustomerLocationEditViewModel
@{
    ViewBag.Title = "Edit Address for customer: " + Model.Customer.Name;
}

<h2>ViewBag.Title</h2>
@Model.CustomerLocation.CustomerId

@using (Html.BeginForm())
{
    @Html.Partial("_CustomerLocationForm")

    @Html.HiddenFor(m => m.CustomerLocation.CustomerId);


    <div class="row text-center">
        <div class="col-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg ">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                @Html.ActionLink("Cancel", "Detail", "Customer", new { id = Model.CustomerLocation.CustomerId }, new { @class = "btn btn-danger btn-lg " })
            </div>
        </div>
    </div>
}