@model LawnPaynes.Models.Customer

@{
    ViewBag.Title = "Add Customer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<br>
@using (Html.BeginForm())
{
    <div class="container">
        <div class="form-group row justify-content-center">
            <div class="col-10 col-sm-8 col-lg-6">
                @* ModelState errors from client or server side validation are displayed here. *@
                @Html.ValidationSummary("Please correct the following errors:", new { @class = "alert alert-danger" })
            </div>
        </div>
    </div>
    @Html.Partial("_CustomerForm")

    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <div class="pad-top">
                    <button type="submit" class="btn btn-success btn-lg mr-5">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btn-lg ml-5" })
                </div>
            </div>
        </div>
    </div>
}
