@model  LawnPaynes.ViewModels.CustomerAddViewModel

@{ 
    ViewBag.Title = "Add Customer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<br>
@using (Html.BeginForm())
{
    @Html.Partial("_CustomerForm")

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg mr-5">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btn-lg ml-5" })
            </div>
        </div>
    </div>
</div>
}
