@model LawnPaynes.ViewModels.CustomerEditViewModel

@{
    ViewBag.Title = "Edit Customer: " + Model.Customer.Name;
}

<h2 class="text-center">@ViewBag.Title</h2>
<br />
@using (Html.BeginForm())
{
    @Html.Partial("_CustomerForm")

    <br />
    <div class="row text-center">
        <div class="col-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg mr-2 ">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                @Html.ActionLink("Cancel", "Detail", new { id = Model.Id }, new { @class = "btn btn-danger btn-lg mr-2" })
                @Html.ActionLink("Customer List", "Index", null, new { @class = "btn btn-primary btn-lg" })

            </div>
        </div>
    </div>
}
