@model LawnPaynes.Models.Service
@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.Partial("_ServiceForm")

    @Html.HiddenFor(m => m.ServiceId);

    <div class="row text-center">
        <div class="col-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg ">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btn-lg " })
            </div>
        </div>
    </div>
}